extends layout

block content
  h1= title
  - let results=[{elephant_type:'indian_elephant', elephant_age_limit:50, elephant_weight:8800} ,{elephant_type:'African-bush-elephant', elephant_age_limit: 70 , elephant_weight :13000}, {elephant_type:'Borneo-elephant', elephant_age_limit: 75 , elephant_weight :4000} ]
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  #{value.elephant_type} elephant , age #{value.elephant_age_limit}, with weight #{value.elephant_weight}
  script.
    function buy(index)
    {
      alert(`Your elephant type ${index+1}`)
    }
